a {
    color: black;
}

main {
    margin-bottom: 8em;

    .prix {
        font-weight: bold;
        font-size: 18px;
    }

    .no-show {
        display: none!important;
    }

    .show {
        display: flex!important;
        justify-content: center;
    }

    .btn--width {
        width: 100%;
    }
}


footer {
    margin: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
}