a {
    color: black;
}

#retour {
    cursor: pointer;
}

main {
    margin-bottom: 8em;
    
    .jumbotron {
        margin-right: -15px!important;
        margin-left: -15px!important;
        border-radius: 0;
    }

    .prix {
        font-weight: bold;
        font-size: 18px;
    }

    // .no-show {
    //     display: none!important;
    // }

    // .show {
    //     display: flex!important;
    //     justify-content: center;
    // }

    #finCommande {
        margin: 20px auto;
    }

    .qty {
        .minus {
            cursor: pointer;
            display: inline-block;
            vertical-align: top;
            color: white;
            width: 30px;
            height: 30px;
            font: 30px/1 Arial,sans-serif;
            text-align: center;
            border-radius: 50%;
            background-clip: padding-box;
            margin-right: 5px;
        }

        .plus {
            cursor: pointer;
            display: inline-block;
            vertical-align: top;
            color: white;
            width: 30px;
            height: 30px;
            font: 30px/1 Arial,sans-serif;
            text-align: center;
            border-radius: 50%;
            margin-left: 5px;
        }

    }

    .augmenter {
        :hover {
            background-color: green!important;
        }
    }

    .diminuer {
        :hover {
            background-color: red!important;
        }
    }

    #total {
        font-weight: bold;
        font-size: 20px;
        margin-left: 50px;
    }

    .label {
        font-size: 20px;
        text-transform: uppercase;
    }

    .nom {
        font-size: 18px;
        font-weight: bold;
    }

    .descriptif {
        :hover {
            text-decoration: none;
        }
    }

    .trash--color {
        color: #BDBDBD;
    }

    .trash--width {
        font-size: 18px;
    }

    .trash {
        position: absolute;
        right: 10px;
        cursor: pointer;
        :hover {
            color: red!important;
        }
        font-size: 20px;
    }

    .price {
        font-weight: bold;
        color: grey;
    }

    .btn--width {
        width: 100%;
    }

    .show {
        display: block!important;
    }
}

footer {
    width: 100%;
}